
body{
   background-color:     #ffc59b;
   overflow-x: hidden;
}
#cards{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
   justify-content: space-evenly;
   margin-bottom: 200px;
}
#container-cards > h1{
   
    color: white;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-weight: normal;
}
#apresent-hamburg{
    color: white;
    display: block;
    text-align: center;
    margin-bottom: 40px;
}
#sobre{
    margin-bottom: 240px;
}
#sobre > h2, #trabalho-area > h2{
    margin-bottom: 150px;
    text-align: center;
    color: white;
}

#apresent-work{
    display: flex;
    
    align-items: center;
    justify-content: space-evenly;
}
@media (max-width: 768px) {
    #container-cards > #apresent-hamburg {
    padding: 10px;
    }
    #sobre > h2{
        margin-bottom: 80px;
    }
    #sobre{
        margin-bottom: 40%;
    }
    #apresent-work{
        flex-direction: column;
        gap: 60px;

    }
    #trabalho-area > h2{
        margin-bottom: 25%;
    }
}